<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="#">Dealership Review</a>
            </div>
		</div>
	</nav>
	
	<div class="container-fluid">
		<p class="h5">Contact</p>
		<ul class="list-group list-group-flush">
		  <li class="list-group-item">e-mail: dealership@dealership.com</li>
		  <li class="list-group-item">phone: +55 000 1234-5678</li>
		  <li class="list-group-item">address: 999, here st.</li>
		</ul>
	</div>
</body>
</html>
